@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

#landing {
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
}



.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    padding: 10 12px;
}

.container {
    padding: 20px 0;
}

.title {
  font-size: 50px;
  margin-bottom: 12px;
  text-align: center;
  line-height: 1;
  
}

.purple.script {
    color: #7a3cff;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 4px;
}

.purple.fade-in {
    font-weight: 700; 
}

.purple {
    color: #7a3cff;
}



a {
  text-decoration: none;
}



/* Navigation */


nav {
   width: 100%;
   padding: 5px 5px;
}

.nav__logo--img {
    height: 140px; 
    width: 160px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--title {
    display: flex;
    font-weight: 500;
    font-size: 38px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
    font-family: 'Permanent Marker', cursive;
}

.nav__link--list {
    display: flex;
    gap: 70px; 
    list-style: none;
    align-items: center;
    font-size: 28px;
}


.nav__link--anchor {
    color: black; 
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
    
}

.link__hover-effect {
    position: relative;
    display: inline-block;
    padding-bottom: 4px; 
}

.link__hover-effect::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%); 
    width: 0%;
    height: 4px;
    background-color: black;
    transition: width 0.3s ease;
}

.link__hover-effect:hover::after {
    width: 100%;
}



.banner {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 350px; 
    overflow: hidden; 
    position: relative; 
    margin-top: 50px;
    background-color: black
}

.banner__image {
    height: 100%; 
    width: 50%; 
    object-fit: cover; 
}

.header__description {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;              
    flex-direction: column;     
    align-items: center;      
    justify-content: center;    
    font-size: 30px;
}

.header__para {
    margin: 40px;
    padding: 30px 20px;
    font-size: 38px;
}

/* SEARCH */

.input__wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 50px;
}

.input__wrapper input {
    width: 100%;       
    height: 100%;
    padding: 0 18px;
    font-size: 26px;
    border-radius: 25px;
    border: none;
    outline: none;
    background: #f0ecec;
    transition: all .25s ease;
}

.input__wrapper input:focus {
    background: #fff;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, .1);
}

.search__btn {
    padding: 12px 22px;
    background-color: #111;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 26px;
    transition: transform .25s ease, box-shadow .25s ease;
}

.search__btn:hover {

    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 6px 14px rgba(0,0,0,0.2);
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1.2s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px); 
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* --- SLIDER STYLES --- */


.slider__container {
    margin-top: 110px; 
    width: 100%;
    max-width: 480px; 
    padding: 12px 18px; 
    background: #ffffff;
    border-radius: 12px;
    border: 2px solid #e0d4f5;
    border-bottom: 6px solid #7a3cff; 
    border-right: 4px solid #7a3cff; 
    box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.1); 
}

.slider__label {
    font-size: 20px; 
    font-weight: 500;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 5px; 
    color: #333;
}


.custom-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px; 
    background: #e6d9fc; 
    border-radius: 10px;
    outline: none;
    margin: 8px 0; 
    box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.2), inset 0px -1px 2px rgba(255, 255, 255, 0.8);
}

.custom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #7a3cff;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(122, 60, 255, 0.5); 
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.custom-slider::-webkit-slider-thumb:hover {
    transform: scale(1.2);
    box-shadow: 0 6px 16px rgba(122, 60, 255, 0.7);
}


.custom-slider::-moz-range-thumb {
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 50%;
    background: #7a3cff;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(122, 60, 255, 0.5);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.custom-slider::-moz-range-thumb:hover {
    transform: scale(1.2);
    box-shadow: 0 6px 16px rgba(122, 60, 255, 0.7);
}


.slider__ticks {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #999;
    font-weight: 500;
    padding: 0 10px;
    margin-top: 10px;
}



.loading {
    width: 40px;
    height: 40px;
    border: 4px solid #ccc;
    border-top-color: #a855f7;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    margin: 20px auto;
}

.hidden {
    display: none;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


/* RESULTS */


.no-results {
    text-align: center;
    font-size: 24px;
    color: rgb(195, 11, 11);
    animation: pop 0.4s ease forwards;
}

@keyframes pop {
    0% { transform: scale(0.8); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

#results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    max-width: 1000px;
    margin: 40px auto 0;
    justify-items: center;
}


.song:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.song__img {
    width: 100%;
    height: 40px;  
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}


.song h3 {
    font-size: 18px;
    margin: 8px 0 4px;
}

.song p {
    font-size: 18px;
    color: #666;
}


.song:nth-child(1) { animation-delay: 0.1s; }
.song:nth-child(2) { animation-delay: 0.2s; }
.song:nth-child(3) { animation-delay: 0.3s; }
.song:nth-child(4) { animation-delay: 0.4s; }
.song:nth-child(5) { animation-delay: 0.5s; }
.song:nth-child(6) { animation-delay: 0.6s; }

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}




.song:hover img {
    transform: scale(1.05);
}

#results.no-results-active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-results {
    grid-column: 1 / -1;      
    justify-self: center;    
    text-align: center;
    font-size: 24px;
    color: rgb(195, 11, 11);
    animation: pop 0.4s ease forwards;
    margin-top: 20px;
}

.flip-card {
    width: 300px; 
    height: 400px; 
    perspective: 1000px; 
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s ease;
    transform-style: preserve-3d;
}

.song:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}

.flip-card-front {
    transform: rotateY(0deg);   
    z-index: 2;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.flip-card-back {
    transform: rotateY(180deg);
    z-index: 1;
    background-color: #242424;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    text-align: center;
}

.flip-card-back i {
    font-size: 80px;
}

.flip-card-front img {
    width: 100%;
    height: 85%; 
    object-fit: cover; 
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


/* FOOTER */

.footer {
    max-width: 1700px;         
    margin: 0 auto;            
    padding: 100px; 
    
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer__copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
  }

.footer__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.footer__logo--img {
     height: 140px; 
    width: 160px;
}



.footer__left {
    display: flex;
    align-items: center;
    gap: 12px
    
}


.footer__logo--text {
    display: flex;
    font-weight: 500;
    font-size: 32px;
    
    letter-spacing: 1px;
    font-family: 'Permanent Marker', cursive;
    
}

.footer__logo--saying {
    display: flex;
    font-weight: 500;
    font-size: 32px;
    letter-spacing: 0.6px;
    font-family: 'Permanent Marker', cursive;
}


/* MOBILE RESPONSIVENESS */


@media (max-width: 480px) {

    
    .nav__row {
        flex-direction: column;
        gap: 12px;
        text-align: center;
    }

    .nav__link--list {
        flex-direction: column;
        gap: 8px;
    }

    
    .header__row {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .header__para {
        font-size: 18px;
        line-height: 1.4;
    }

   
    .input__wrapper {
        width: 100%;
        padding: 12px;
        flex-direction: column;
        gap: 10px;
    }

    .input__wrapper input {
        width: 100%;
    }

    .search__btn {
        width: 100%;
    }

    /
    .slider__container {
        max-width: 100%;
        margin-top: 40px;
        text-align: center;
    }

    .slider__ticks {
        font-size: 14px;
    }

    
    #results {
        padding: 0 15px;
    }

    .result-card {
        width: 100% !important;
    }


    .footer__bottom {
        flex-direction: column;
        text-align: center;
        gap: 16px;
    }

    .footer__logo--saying {
        white-space: normal;
        font-size: 16px;
    }

    .footer__logo--text {
        font-size: 18px;
    }
}



/* TABLETS */

@media (max-width: 768px) {

    .nav__row {
        flex-direction: column;
        gap: 15px;
    }

    .header__row {
        flex-direction: column;
        text-align: center;
        gap: 25px;
    }

    .input__wrapper {
        max-width: 90%;
        margin: 0 auto;
    }

    .slider__container {
        max-width: 90%;
        margin: 40px auto 0;
    }

    #results {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        padding: 0 20px;
    }

    .footer {
        max-width: 90%;
    }
}





